{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
   <h2>Signup Page</h2>

<form method="POST">
    {% csrf_token %}
    <label>Username:</label>
    <input type="text" name="username" placeholder="Enter Username" required>

    <label>Email:</label>
    <input type="email" name="email" placeholder="Enter Email" required>

    <label>Password:</label>
    <input type="password" name="password" placeholder="Enter Password" required>

    <label>Confirm Password:</label>
    <input type="password" name="confirm_password" placeholder="Confirm Password" required>

    <button type="submit">Signup</button>
</form>
<p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
</body>
</html>